{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
{% block head %}<h1>About</h1>{% endblock %}
{% block content %}
I am an Information Technology (IT) student with a strong interest in software development, networking, and cybersecurity. I enjoy solving real-world problems through technology and constantly seek to improve my skills through hands-on projects and learning new tools.
{% endblock %}
</body>
</html>